:root {
  --acsent-color: #2196f3;
  --title-color: #212121;
  --link-color: #212121;
  --text-color: #757575;
  --button-background: #2196f3;
  --button-filtr-color: #212121;
  --team-background: #F5F4FA;
  --footer-background: #2f303a;
  --order-background: #2f303a;
  --border-color: #EEEEEE;
  --icon-color: #AFB1B8;
  --icon-color-hover: #FFFFFF;
  --icon-social-color: #FFFFFF;


}

body {
  background-color: #ffffff;
  color: var(--text-color);
  font-family: 'Roboto', sans-serif;
  margin: 0;
}

.container{
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.section{
  padding: 94px 0;
}
/* Скидання списків */
ul{
  list-style: none;
  margin: 0;
  padding: 0;

}
h1,
h2, 
h3, 
p{
  padding: 0;
  margin: 0;
}
/* базові */
img{
  display: block;
  width: 100%;
  height: auto;
}
.header{
      /* Установит стили нижней рамки */
 border-bottom-width: 1px;
 border-bottom-style: solid;
 border-bottom-color: #ECECEC;
}

      /* Цвет логотипа */

.logo {
  color: #000000;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
  margin-right: 93px;  

}

.logo:hover,
.logo:focus {
  color: var(--acsent-color);
}

.logo-web{
  color: var(--acsent-color);
}

          /* Навигация  */

.main-nav{
  display: flex;
  align-items: center;
  
}

.nav{
  display: flex;
}

.nav .item:not(:first-child){
  margin-left: 50px;
  
}

.nav .link,
.author .link{
  font-weight: 500;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.02em;
  color: var(--link-color);
  text-decoration: none;
  
  display: block;
  padding-top: 32px;
  padding-bottom: 32px;

}
.nav .link:hover,
.nav .link:focus,
.author .link:hover,
.author .link:focus{
  color: var(--acsent-color);
}
        /* Эффект текущей страницы */

.nav .current{
  color: var(--acsent-color);
}

.author.list{
  display: flex;
  margin-left: auto;
}

.author .link{
  display: flex;
  align-items: center;
  color: #757575;
}

.author .item + .item{
  margin-left: 50px;
  
}
.author .icon{
  margin-right: 10px;
  fill: currentColor;
}
          /* Блок решения 
          с кнопкой заказать услугу   */

.order {
  max-width: 1600px;
  margin: 0 auto;
  background-color: #C4C4C4;
  background-image: linear-gradient(
    to top, rgba(47,48,58,0.4), rgba(47,48,58,0.4)
  ), url(../images/index/bgimage.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  text-align: center;
  padding-top: 200px;
  padding-bottom: 200px;
}

.order .title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
  margin-bottom: 30px;

}
        /* Кнопка Заказать услугу */

.button-order {
  font-family: inherit;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.06em;
  border-radius: 4px;
  width: 200px;
  height: 50px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  color: #ffffff;
  background-color: var(--button-background);
  cursor: pointer;

}

.button-order:hover,
.button-order:focus {
  background-color: #188CE8;

}

            /* Properties - Особенности */

.properties.list{
  display: flex;
}
.visually-hidden { 
  position: absolute; 
  width: 1px; 
  height: 1px; 
  margin: -1px; 
  border: 0; 
  padding: 0; 
  white-space: nowrap; 
  clip-path: inset(100%); 
  clip: rect(0 0 0 0); 
  overflow: hidden; 
} 
.properties .item{
  width: 270px;
}
        /* Иконки картинки   */
.properties .icons{
  width: 270px;
  height: 120px;
  background-color: #F5F4FA;
  margin-bottom: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}


.properties .item:not(:last-child){
  margin-right: 30px;
}

.properties .title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--link-color);

}

.properties .text{
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 0px;
  margin-top: 10px;

}

      /* Чем мы занимаемся */

.work .title,
.our-team .title,
.clients .title{
  font-weight: 700;
  font-size: 36px;
  line-height: 1.17;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 50px;
}
.section.work{
  padding-top: 0;
}
.section.work .work.list{
  display: flex;
}

.work .item:not(:last-child){
  margin-right: 30px;
}

/* Наша команда */
.our-team{
  background-color: var(--team-background);
}

.our-team.list{
  display: flex;
  text-align: center;
  justify-content: space-between;

}

.our-team .item{
  width: 270px;
  height: 428px;
  box-shadow: 
  0px 1px 3px rgba(0, 0, 0, 0.12), 
  0px 1px 1px rgba(0, 0, 0, 0.14), 
  0px 2px 1px rgba(0, 0, 0, 0.2);
  background-color: var(--icon-social-color);



}
.name.post{
  padding-top: 30px;
  padding-bottom: 30px;
  margin: 0;
}
.our-team .name{
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--title-color);
  margin-bottom: 10px;

}

.our-team .post{
  font-size: 16px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-bottom: 16px;

}
.our-team .icon.list{
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffffff;
}
.our-team .icon.list .item{
  width: 44px;
  height: 44px;
  padding: 12px;
  box-shadow: none;
  border-radius: 50%;
  fill: var(--icon-color);

}
/* .our-team.icon.list{
    margin-bottom: 30px;

} */
.our-team .icon.list .item:not(:last-child){
  margin-right: 10px;
 
}
.our-team .icon.list .item:hover,
.our-team .icon.list .item:focus{
  cursor: pointer;
  fill: var(--icon-color-hover);
  background-color: var(--acsent-color);

}

/* Постоянные клиенты */
.clients.list{
  display: flex;
  justify-content: center;
  align-items: center;

}
.clients .item{
  width: 170px;
  height: 92px;
  padding: 16px 32px;
  box-shadow: none;
  fill: var(--icon-color);
  border: 1px solid #AFB1B8;
  border-radius: 4px;

}
.clients .item:not(:last-child){
    margin-right: 30px;
}


.clients .icon{
  width: 106px;
  height: 60px;
}
.clients .icon:hover,
.clients .icon:focus{
  fill: var(--acsent-color);
  cursor: pointer;

}
.clients .item:hover,
.clients .item:focus{
  border-color: var(--acsent-color);
  cursor: pointer;

}




      /* Кнопки фильтра */

.filtr.list {
  display: flex;
  justify-content: center;
  margin-bottom: 50px;

}
.filtr .item{
  margin-left: 8px;
 
}
.filtr.list .filtr {
  font-family: inherit;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--button-filtr-color);
  cursor: pointer;
  background: var(--team-background);
  border: var(--team-background);
  height: 38px;
  border-radius: 4px;
  padding: 6px 22px;

}

.filtr.list .filtr:hover,
.filtr.list .filtr:focus {
  background-color: var(--button-background);
  color: #ffffff;
  box-shadow: 
  0px 3px 1px rgba(0, 0, 0, 0.1), 
  0px 1px 2px rgba(0, 0, 0, 0.08), 
  0px 2px 2px rgba(0, 0, 0, 0.12);
}

        /* Галерея */
        /* Список без маркеров */

.gallery.list{
  display: flex;
  flex-wrap: wrap;
}

.gallery .item{
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
}
.gallery .item:hover{
  box-shadow: 
  0px 1px 1px rgba(0, 0, 0, 0.12), 
  0px 4px 4px rgba(0, 0, 0, 0.06), 
  1px 4px 6px rgba(0, 0, 0, 0.16);

}

.gallery .item:nth-child(3n){
  margin-right: 0;
}

.gallery .item:nth-last-child(-n+3){
  margin-bottom: 0;
}

.gallery .title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--title-color);

}

.gallery .text {
  font-size: 16px;
  line-height: 1.88;
  letter-spacing: 0.03em;
  color: var(--text-color);
  margin-top: 4px;
 
}

.item .border{
  padding: 20px 24px;

/* Установит стили правой рамки */
  border-right-width: 1px;
  border-right-style: solid;
  border-right-color: var(--border-color);

  /* Установит стили нинжней рамки */
  border-bottom-width: 1px;
  border-bottom-style: solid;
  border-bottom-color: var(--border-color); 

  /* Установит стили левой рамки */
  border-left-width: 1px;
  border-left-style: solid;
  border-left-color: var(--border-color);
  
}



        /* Footer */
.footer {
  background-color: var(--footer-background);
  padding-top: 60px;
  padding-bottom: 60px;
}
.container.footer{
  display: flex;
  padding: 0;  
}

.logo-foot {
  color: #ffffff;
  font-family: 'Raleway';
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
  letter-spacing: 0.03em;
  text-decoration: none;
}

.logo-foot:hover,
.logo-foot:focus{
  color: var(--acsent-color);
}

          /* Адрес - карта */
.address{
  margin-top: 20px;
  padding-bottom: 0;
}

.contacts.map,
.contacts {
  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: #ffffff;
  text-decoration: none;
}


.contacts {
  color: #ffffff99;

}
.footer .item:not(:last-child){
  margin-bottom: 9px;
}
.link-map:hover,
.link-map:focus,
.contacts:hover,
.contacts:focus{
  color: var(--acsent-color);
}
/* Социальные сети */

.social .title{
  font-weight: 700;
  font-size: 14px;
  line-height: 1.1;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--border-color);
  margin-top: 12px;
}
.logo-address{
  margin-right: 70px;
}
.social .icon.list{
  display: flex;
  align-items: center;
  margin-top: 20px;

}
.social .icon.list .item{
  width: 44px;
  height: 44px;
  margin: 0;
  padding: 12px;
  box-shadow: none;
  border-radius: 50%;
  fill: var(--icon-social-color);
  background: rgba(255, 255, 255, 0.1);

}
.social .icon.list .item:not(:last-child){
  margin-right: 10px;
 
}
.social .icon.list .item:hover,
.social .icon.list .item:focus{
  cursor: pointer;
  fill: var(--icon-social-color);
}
.social .icon.list .item:hover{
  background-color: var(--acsent-color);
  
}